@model RegisterUserFromFacebookViewModel
<div>
    <div class="page-header">
        <h1>User Registration</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Registration</h3>
                </div>
                <div class="panel-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Provider" />
                        <input type="hidden" asp-for="ProviderUserId" />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="GivenName"></label>
                                <input class="form-control" placeholder="Given name"
                                       asp-for="GivenName">
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyName"></label>
                                <input class="form-control" placeholder="Family name"
                                       asp-for="FamilyName">
                            </div>
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input class="form-control" placeholder="Address"
                                       asp-for="Address">
                            </div>
                            <div class="form-group">
                                <label asp-for="Country"></label>
                                <select class="form-control" asp-for="Country"
                                        asp-items="@Model.CountryCodes"></select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

