@model RequestPasswordViewModel
<div>
    <div class="page-header">
        <h1>Request new password</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Request a new password</h3>
                </div>
                <div class="panel-body">
                    <form asp-route="RequestPassword">
                        <fieldset>
                            <p>Enter your email address to receive a link to reset your password.</p>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email" 
                                       asp-for="Email" autofocus>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Send request</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

