@model ResetPasswordViewModel
<div>
    <div class="page-header">
        <h1>Reset your password</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset your password</h3>
                </div>
                <div class="panel-body">
                    <form asp-route="ResetPassword">
                        <fieldset>
                            <input type="hidden" asp-for="SecurityCode" />
                            <p>Choose a new password, and confirm it.</p>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input class="form-control" 
                                       placeholder="Your new password" 
                                       asp-for="Password" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input class="form-control" 
                                       placeholder="Confirm your new password" 
                                       asp-for="ConfirmPassword">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Reset password</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
